.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.resume {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 25px;
    line-height: 20px;
}
.computer-skills{
    display: flex;
    justify-content: space-between;
}
.hr{
    line-height: 5px;
}
.references-styls{
    display: flex;
    justify-content: space-between;
    line-height: 10px;
}
.Contact-information{
    line-height: 10px;
}
.Profile-picture{
    width: 150px;
    height: 150px;
}

.section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.horizontal-line{
    position: absolute;
    height: 1px;
}
.technical-skill{
    display: flex;
}
.h3{
    color: rgb(115, 115, 241);
}

  